* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 10rem;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}
